@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color-scheme: dark;
  background: #000000;
}

.animate-spin-custom {
  animation: spin-animation 10s infinite linear;
}

@keyframes spin-animation {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
